* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../imagens/gatinhos.jpg");
    background-repeat: repeat;
    background-size: contain;
}

.filtro {
    background-color: rgba(255, 255, 255, 0.308);
    padding-top: 1em;
}

main {
    margin-top: 3em;
}

header, form, footer {
    background-color: #e0d4c7e7;
    backdrop-filter: blur(7px);
}

header {
    padding-block: 2em;
    margin-block: 2em;
    text-align: center;
}

h1 {
    color: #914b23;
    font-family: 'Pangolin', cursive;
    font-size: 2.55em;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000000;
}

header p {
    font-size: 0.85em;
    padding-inline: 3em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-bottom: 2em;
    padding: 1em;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

#name-label, #email-label, #number-label,
[for="dropdown"], legend, [for="historia"] {
    font-weight: 500;
}

legend, [for="historia"] {
    margin-bottom: 0.3em;
}

button, input, select, textarea {
    border: none;
    border-radius: 3px;
}

button, input, select {
    padding: 0.5em;
}

input[type="radio"], input[type="checkbox"] {
    margin-left: 1em;
}

button {
    background-color: #ffa052d7;
    box-shadow: 1px 5px 5px #c0c0c0;
}

footer {
    border-radius: 10px 10px 0 0;
    color: #000000;
    padding: 0.7em;
    text-align: center;
}

/* Breakpoint Tablet */
@media screen and (min-width: 690px) {
    main, footer {
        margin-inline: auto;
        width: 70vw;
    }

    header, form {
        border-radius: 10px;
    }

    h1 {
        font-size: 3.7em;
    }

    header p {
        font-size: 1em;
        padding-block: 0.5em;
        padding-inline: 5em;
    }

}

/* Breakpoint Desktop */
@media screen and (min-width: 1100px) {
    main {
        font-size: 1.1em;
    }

    main, footer {
        width: 55vw;
    }

    h1 {
        font-size: 4.7em;
    }

    header p {
        padding-inline: 7em;
    }

    header {
        padding: 2em;
    }

    form {
        padding-block: 2em;
        padding-inline: 5em;
    }

    input, select, textarea, button {
        font-size: 1em;
    }
}

/* Breakpoint Desktop */
@media screen and (min-width: 1600px) {
    main, footer {
        width: 50vw;
    }
    h1 {
        font-size: 5.3em;
    }

    header p {
        padding-inline: 10em;
    }
}