* {
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    /* PALETA DE CORES */
    --feijao: #713928;
    --hena: #994638;
    --quentao: #C4953E;
    --quentao-iluminado: #D9AD5B;
    --terracota: #E07A5F;
    --rosa-bebe: #FFD0C7;
    --champanhe: #F8E9D1;
    --algodao-egipcio: #E6DFCE;
    --branco-florido: #FFF8F0;

    /* TAMANHOS DE FONTES */
    --tamanho-logo__nome: 3.5em;
    --tamanho-logo__sobrenome: 1.7em;
    --tamanho-li-navegacao-principal: 1.1em;
    --tamanho-titulo-principal: 2em;
    --tamanho-titulo-secundario: 2em;

    /* TAMANHOS DE IMAGENS */
    --tamanho-imagem-principal: 90vw;
    --tamanho-imagem-h2: 30vw;
}

body {
    background-color: var(--branco-florido);
    background-image: url("../imagens/plano-de-fundo.png");
    background-repeat: no-repeat;
    background-size: 125vw 165vh;
    color: var(--feijao);
    z-index: 2;
}

a, a:visited {
    color: inherit;
}

/* HEADER */
header {
    background-color: var(--algodao-egipcio);
    margin-bottom: 0.5em;
    text-align: center;
}

div.logo {
    margin: auto;
    padding-block: 2em;
    min-width: 187px;
    width: 187px;
}

div.logo p {
    line-height: 1em;
}

p.logo__nome {
    color: var(--terracota);
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: var(--tamanho-logo__nome);
    padding-inline: 0.17em;
}

p.logo__sobrenome {
    display: block;
    font-family: 'Lekton', sans-serif;
    font-size: var(--tamanho-logo__sobrenome);
    text-align: end;
}

nav ul {
    display: flex;
    font-size: var(--tamanho-li-navegacao-principal);
    font-weight: bolder;
    justify-content: space-around;
    list-style: none;
    padding: 1em;
}
/* FIM DA HEADER */

/* MAIN */
main {
    margin: auto;
    padding: 1.3em;
}

section:not(#contato) {
    margin-bottom: 5em;
}

section#welcome-section {
    height: 100vh;
    margin-bottom: 9em;
}

div.welcome-section-corpo {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 2em;
}

section#welcome-section img{
    animation: menina-codando 5s 1 ease;
    position: relative;
    width: var(--tamanho-imagem-principal);
}

h1 {
    font-size: var(--tamanho-titulo-principal);
    font-weight: normal;
}

div.titulo span:not(.titulo__pontuacao) {
    display: flex;
}

div.titulo span.titulo__nome, span.titulo__sobrenome {
    color: var(--terracota);
    font-size: 1.75em;
    text-transform: uppercase;
}

div.titulo span.titulo__pontuacao {
    color: var(--feijao);
}

@keyframes menina-codando {
    0% {
        top: 0px;
    }
    50% {
        top: 30px;
    }

    100% {
        top: 0px;
    }
}

.h2-container {
    display: flex;
    gap: 1.5em;
}

h2 {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: normal;
    width: fit-content;
}

#sobre h2, #contato h2 {
    text-align: end;
}

span.h2--maiusculo-terracota {
    color: var(--terracota);
    font-size: 1.3em;
    text-transform: uppercase;
}

.imagem-h2 {
    bottom: 2em;
    position: relative;
    width: var(--tamanho-imagem-h2);
}

.apresentacao p {
    color: var(--hena);
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: justify;
}
/* FIM DA MAIN */

/* BREAKPOINT TABLET */
@media screen and (min-width: 690px) {
    :root {
        /* TAMANHOS DE FONTES */
        --tamanho-li-navegacao-principal: 1.17em;
        --tamanho-titulo-secundario: 2.3em;

        /* TAMANHOS DE IMAGENS */
        --tamanho-imagem-principal: 40vw;
        --tamanho-imagem-h2: 20vw;

    }

    body {
        background-size: 100% 65vh;
    }

    header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        left: 0;
        padding-inline: 4.5em;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
    }

    div.logo {
        margin: 0;
        padding-block: 1em;
    }

    nav ul {
        gap: 2em;
    }

    main {
        width: 85vw;
    }

    div.welcome-section-corpo {
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        max-width: 80vw;
        padding-top: 15vh;
    }

    section#welcome-section {
        height: 100vw;
        margin-bottom: 0;
    }

    div.titulo {
        align-self: flex-end;
        width: auto;
    }

    h2 {
        font-size: var(--tamanho-titulo-secundario);
    }

    .imagem-h2 {
        bottom: 2.3em;
    }
}

/* BREAKPOINT DESKTOP */
@media screen and (min-width: 1100px) {
    :root {
        /* TAMANHOS DE FONTES */
        --tamanho-li-navegacao-principal: 1.3em;
        --tamanho-titulo-principal: 3em;

        /* TAMANHOS DE IMAGENS */
        --tamanho-imagem-principal: 30vw;
        --tamanho-imagem-h2: 10vw;
    }

    body {
        background-size: 100% 110vh;
    }

    header {
        padding-inline: 13em;
    }

    nav ul {
        gap: 3em;
    }

    main {
        width: 70vw;
    }

    div.welcome-section-corpo {
        gap: 3em;
        max-width: 68vw;
        padding-top: 25vh;
    }

    section#welcome-section{
        height: 100vh;
        margin-bottom: 9em;
    }

    .imagem-h2:not(.imagem-sobre) {
        bottom: 3em;
    }
}

/* BREAKPOINT DESKTOP */
@media screen and (min-width: 1600px) {
    :root {
        --tamanho-imagem-principal: 30vw;
    }
    header {
        padding-inline: 23em;
    }

    div.welcome-section-corpo {
        max-width: 59vw;
        padding-top: 20vh;
    }
}