* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    /* CORES */
    --branco: #ffffff;
    --branco-transparente: #ffffffc9;
    --cinza-claro: #c0c0c0;
    --cinza-escuro: #3e3936;
    --marrom: #7a4c3d;
    --marrom-claro: #9c624f;

    /* TAMANHOS DE FONTES */
    --tamanho-logo: 3.5em;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

/* HEADER */
header .menu-fixo {
    background-color: var(--branco);
    box-shadow: 1px 1px 2px 2px var(--cinza-claro);
    left: 0;
    margin-bottom: 0.5em;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 3;
}

h1 {
    color: var(--marrom);
    font-family: 'Spectral SC', serif;
    font-size: var(--tamanho-logo);
    padding-block: 0.5em;
}

nav ul {
    color: #3e3936;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 1em;
}

nav ul a:hover {
    color: var(--marrom-claro);
}

i {
    font-size: 0.7em;
}

img#header-img {
    top: 17vh;
    left: -5em;
    position: fixed;
    width: 150vw;
    z-index: -1 !important;
}
/* FIM DA HEADER */

/* MAIN */
main {
    background-color: var(--branco-transparente);
    backdrop-filter: blur(5px);
    padding-inline: 1em;
    position: relative;
    top: 47vh;
    z-index: 2;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.3em;
}

p.descricao {
    color: var(--cinza-escuro);
    padding-block: 2em 1em;
    text-align: justify;
}

section#produtos {
    text-align: center;
}

.video {
    height: 25vh;
    width: 90vw;
}

iframe {
    height: 100%;
    width: 100%;
}
/* FIM DA MAIN */

/* BREAKPOINT TABLET */
@media screen and (min-width: 690px) {
    :root {
        /* TAMANHOS DE FONTES */
        --tamanho-logo: 3em;
    }

    header .menu-fixo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 4em;
        text-align: start;
    }

    img#header-img {
        left: -2;
        top: 3vh;
        width: 110vw;
    }

    nav ul {
        gap: 2.5em;
    }

    main {
        padding-inline: 5em;
        top: 40vh;
    }

    .video {
        width: 70vw;
    }
}

/* BREAKPOINT DESKTOP */
@media screen and (min-width: 1100px) {
    :root {
        /* TAMANHOS DE FONTES */
        --tamanho-logo: 4em;
    }

    header .menu-fixo {
        padding-inline: 7em;
    }

    img#header-img {
        left: -10em;
        top: -1vh;
        width: 110vw;
    }

    nav ul {
        font-size: 1.25em;
        gap: 5em;
    }

    main {
        padding-inline: 17em;
        top: 80vh;
    }
}