* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    /* CORES */
    --areia-do-deserto: #e5be9e;
    --branco: #ffffff;
    --branco-acinzentado: #eaebed;
    --branco-transparente: #ffffffc9;
    --caqui: #cbc0ad;
    --cinza-claro: #c0c0c0;
    --cinza-escuro: #3e3936;
    --tronco: #7a4c3d;
    --vermelho-amarelado-medio: #e1b07e;

    /* TAMANHOS DE FONTES */
    --tamanho-logo: 3.5em;
    --tamanho-frase-inicial-p: 1.7em;
    --tamanho-titulo-secundario: 1.7em;
}

body {
    background-color: var(--branco-acinzentado);
    color: var(--cinza-escuro);
    font-family: 'Merriweather', serif;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

/* HEADER */
header .menu-fixo {
    background-color: var(--branco);
    box-shadow: 1px 1px 2px 2px var(--cinza-claro);
    left: 0;
    margin-bottom: 0.5em;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 3;
}

h1 {
    color: var(--tronco);
    font-family: 'Spectral SC', serif;
    font-size: var(--tamanho-logo);
    padding-block: 0.5em;
}

nav ul {
    color: #3e3936;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 1em 1em 2em 1em;
}

nav ul a:hover {
    color: var(--vermelho-amarelado-medio);
}

i {
    font-size: 0.7em;
}

img#header-img {
    top: 23vh;
    left: -5em;
    position: fixed;
    width: 150vw;
    z-index: -1 !important;
}
/* FIM DA HEADER */

.corpo-rolante {
    background-color: var(--branco-transparente);
    backdrop-filter: blur(10px);
    position: relative;
    top: 67vh;
    z-index: 2;
}

/* MAIN */
.frase-inicial p {
    backdrop-filter: blur(7px);
    border-bottom: 1px dotted;
    color: var(--branco);
    font-size: var(--tamanho-frase-inicial-p);
    font-style: italic;
    font-weight: 300;
    left: 23vw;
    text-align: end;
    margin-bottom: 1em;
    position: absolute;
    padding-bottom: 1.5em;
    top: -29vh;
    width: 70vw;
}

.corpo-secoes {
    padding-top: 1em;
    padding-inline: 1em;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    margin-top: 1.3em;
    padding: 2em;
}

h2 {
    font-size: var(--tamanho-titulo-secundario);
    text-align: center;
}

.video {
    height: 30vh;
    width: 90vw;
}

iframe {
    height: 100%;
    width: 100%;
}

.cartoes-container {
    display: grid;
    gap: 2em;
    height: auto;
    width: 70vw;
}

.cartao {
    background-color: var(--branco);
    border: 1px dotted var(--cinza-escuro);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    padding: 1.5em;
    text-align: center;
    width: 100%;
}

h3 {
    border-bottom: 1px solid var(--cinza-escuro);
    font-size: 1.3em;
    padding: 0.5em;
}

.preco {
    color: var(--vermelho-amarelado-medio);
    font-size: 1.3em;
    font-weight: 700;
}

.cartao__botao {
    background-color: var(--caqui);
    border-radius: 25px;
    font-weight: 700;
    padding: 1em;
    margin-top: auto;
}

a.cartao__botao:hover {
    color: var(--branco);
    background-color: var(--tronco);
}

legend {
    font-size: var(--tamanho-titulo-secundario);
    font-weight: bolder;
    margin-bottom: 1em;
    text-align: center;
}

fieldset {
    border: none;
}

[type="email"], [type="submit"] {
    font-family: inherit;
    padding: 0.5em;
}

[type="email"] {
    width: 75%;
}
/* FIM DA MAIN */

/* FOOTER */
footer {
    color: var(--cinza-claro);
    font-size: 1em;
    padding: 1em;
    text-align: center;
}
/* FIM DA FOOTER */

/* BREAKPOINT TABLET */
@media screen and (min-width: 690px) {
    :root {
        /* TAMANHOS DE FONTES */
        --tamanho-logo: 3em;
        --tamanho-titulo-secundario: 2em;
    }

    header .menu-fixo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 4em;
        text-align: start;
    }

    img#header-img {
        left: -2;
        top: 3vh;
        width: 115vw;
    }

    nav ul {
        gap: 2.5em;
    }

    .corpo-rolante {
        top: 60vw;
    }

    .frase-inicial p {
        left: 25vw;
        top: -15vh;
        width: 70vw;
    }

    .corpo-secoes {
        padding-inline: 5em;
    }

    .video {
        width: 73vw;
    }

    .cartoes-container {
        gap: 3em;
        grid-template-columns: 40% 40%;
        width: 80vw;
        place-content: center;
    }

    .cartao-alto {
        justify-self: center;
        grid-column: 1 / 3;
        max-width: 47%;
    }

    [type="email"] {
        width: 87%;
    }
}

/* BREAKPOINT DESKTOP */
@media screen and (min-width: 1100px) {
    :root {
        /* TAMANHOS DE FONTES */
        --tamanho-logo: 4em;
        --tamanho-frase-inicial-p: 2em;
    }

    header .menu-fixo {
        padding-inline: 7em;
    }

    img#header-img {
        left: -8em;
        top: -1vh;
        width: 110vw;
    }

    nav ul {
        font-size: 1.25em;
        gap: 5em;
    }

    .corpo-rolante {
        top: 97vh;
    }

    .frase-inicial p {
        left: 40vw;
        top: -25vh;
        width: 50vw;
    }

    .corpo-secoes {
        padding-inline: 20vw;
    }

    .video {
        height: 70vh;
        width: 60vw;
    }

    .cartoes-container {
        grid-template-columns: 25% 25% 25%;
    }

    .cartao-alto {
        justify-self: initial;
        max-width: initial;
        grid-column: initial;
    }
}

/* BREAKPOINT DESKTOP */
@media screen and (min-width: 1600px) {
    .cartoes-container {
        grid-template-columns: 20% 20% 20%;
    }
}

