* {
    box-sizing: border-box;
    font-family: 'Life Savers', cursive;
    margin: 0;
    padding: 0;
}

:root {
    /* CORES */
    --branco: #ffffff;
    --bege-transparente: #d9c6a323;
    --dourado-transparente: #d9ad5b86;
    --dourado: #d9ad5b;
    --marrom-claro: #a67a44;
    --marrom: #734d2c;
    --marrom-escuro: #260101;
    --preto: #0d0d0d;

    /* TAMANHOS - FONTES */
    --titulo-principal-tamanho: 1.75em;
    --subtitulo-tamanho: initial;
    --navegacao-texto-tamanho: 1.2em;
    --titulo-secundario-tamanho: 1.3em;
    --legenda-tamanho: small;
    --paragrafo-tamanho: 0.9em;

    /* TAMANHOS - IMAGENS */
    --imagem-section-tamanho: 50vw;
}

main {
    background-color: var(--bege-transparente);
}

a, a:visited {
    color: var(--preto);
    text-decoration: none;
}

a:hover {
    color: #c89300;
}

/* HEADER */
header {
    border-top: 20px solid var(--marrom-claro);
    display: flex;
    justify-content: center;
    padding-top: 0.3em;
}

header p {
    font-size: var(--subtitulo-tamanho);
}

h1 {
    color: var(--marrom);
    font-size: var(--titulo-principal-tamanho);
}

#cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    padding-left: 1em;
    text-align: center;
}

#img-header {
    display: flex;
}

#img-header img {
    object-fit: fill;
    opacity: 0.8;
    width: 100%;
}
/* FIM DA HEADER */

/* NAVEGAÇÃO */
nav ul {
    background-color: var(--branco);
    border-block: 5px solid var(--dourado);
    display: flex;
    font-size: var(--navegacao-texto-tamanho);
    justify-content: space-evenly;
    list-style: none;
    margin-block: 0.1em;
    padding: 0.5em;
}

nav a span {
    color: var(--branco);
}

nav a:hover span {
    color: var(--dourado);
}
/* FIM DA NAVEGAÇÃO */

/* ARTIGO */
article {
    background-color: var(--bege-transparente);
    padding-block: 1em;
}

.img-caption {
    font-size: var(--legenda-tamanho);
    text-align: center;
}

section {
    padding: 1.5em 1.5em 0 1.5em;
}

h2 {
    border-bottom: 1px solid var(--dourado-transparente);
    color: var(--marrom);
    font-size: var(--titulo-secundario-tamanho);
    margin-bottom: 1em;
    padding-bottom: 0.3em;
}

section p {
    font-family: 'Source Serif Pro', serif;
    font-size: var(--paragrafo-tamanho);
    margin-bottom: 1em;
    text-align: justify;
}

.img-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
}

.img-div img {
    border-radius: 50%;
    box-shadow: 5px 5px var(--dourado-transparente);
    max-width: var(--imagem-section-tamanho);
    width: var(--imagem-section-tamanho);
}

.tribute-link {
    display: block;
    font-family: 'Source Serif Pro', serif;
    font-size: var(--paragrafo-tamanho);
}

.tribute-link i {
    color: var(--dourado);
    font-size: medium;
}

.setinha {
    display: none;
}
/* FIM DO ARTIGO */

/* FOOTER */
footer {
    background-color: var(--dourado-transparente);
    padding: 0.5em;
    margin-top: 0.1em;
    text-align: center;
}
/* FIM DO FOOTER */

/* BREAKPOINT TABLET */
@media screen and (min-width: 690px) {
    :root {
        /* TAMANHOS DE FONTE */
        --titulo-principal-tamanho: 3em;
        --subtitulo-tamanho: 1.3em;
        --navegacao-texto-tamanho: 1.5em;
        --titulo-secundario-tamanho: 1.5em;
        --legenda-tamanho: x-small;
        --paragrafo-tamanho: 1em;

        /* TAMANHOS - IMAGENS */
        --div-imagem-section-tamanho: 30vw;
        --imagem-section-tamanho: 25vw;
    }

    header {
        padding-inline: 2.5em;
    }

    /* NAVEGAÇÃO */
    nav ul {
        padding-left: 1.5em;
    }

    section {
        padding-inline: 7em;
    }

    .img-div {
        float: left;
        margin-right: 2em;
        width: var(--div-imagem-section-tamanho);
    }

    #hedy h2, #hedy a.tribute-info, #grace h2, #grace a.tribute-info {
        text-align: end;
    }

    #grace .img-div, #hedy .img-div {
        float: right;
        margin-left: 2em;
        margin-right: 0;
    }

    .setinha {
        display: block;
    }

    .setinha-corpo {
        background-color: var(--bege-transparente);
        border-radius: 50%;
        bottom: 1.5rem;
        box-shadow: 3px 3px var(--dourado);
        color: var(--marrom-escuro);
        display: grid;
        height: 5vw;
        opacity: 0.7;
        place-content: center;
        position: fixed;
        right: 1.3rem;
        width: 5vw;
    }
}

/* Breakpoint Desktop */
@media screen and (min-width: 1100px) {
    :root {
        /* TAMANHOS DE FONTE */
        --titulo-principal-tamanho: 3.5em;
        --subtitulo-tamanho: 1.7em;
        --navegacao-texto-tamanho: 1.9em;
        --titulo-secundario-tamanho: 2em;
        --legenda-tamanho: smaller;
        --paragrafo-tamanho: 1.1em;

        /* TAMANHOS - IMAGENS */
        --div-imagem-section-tamanho: 17vw;
        --imagem-section-tamanho: 15vw;
    }

    header, nav ul, article, footer {
        border-inline: 1px solid var(--preto);
    }

    main {
        margin: auto;
        width: 60vw;
    }

    header {
        padding-inline: 2.5em;
    }

    #cabecalho {
        gap: 0;
        padding-inline: 0;
    }

    nav ul {
        border-block-width: 7px;
        padding-inline: 1.5em;
    }

    .setinha-corpo {
        height: 4.5vw;
        font-size: 1.5em;
        right: 7rem;
        width: 4.5vw;
    }
}

/* Breakpoint Desktop */
@media screen and (min-width: 1600px) {
    :root {
        /* TAMANHOS DE FONTE */
        --legenda-tamanho: medium;
        --paragrafo-tamanho: 1.3em;

        /* TAMANHOS - IMAGENS */
        --div-imagem-section-tamanho: 15vw;
        --imagem-section-tamanho: 13vw;
    }

    main {
        width: 55vw;
    }

    nav ul {
        padding-inline: 3em;
    }

    section {
        padding-inline: 10em;
    }

    .setinha-corpo {
        height: 3.5vw;
        font-size: 1.5em;
        right: 11rem;
        width: 3.5vw;
    }
}